
.LogoImage {
    width: 130px;
    position: fixed;
    top: 20px;
    left: 5%;
    transform: translateX(-50%);
    z-index: 1001;
  }
  
  @media (max-width: 768px) {
    .LogoImage {
      top: 10px;
      right: 20px;
      left: auto;
      transform: none;
      width: 60px;
    }
  }
  
  .Nav {
    border-top: 1px solid #EBEBEB;
    position: fixed;
    top: 150px;
    width: 100%;
    background-color: none;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
    display: none;
  }
  
  @media (max-width: 768px) {
    .Nav {
      background-color: #fff;
      text-align: left;
      display: none;
      top: 70px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  
  .Ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .Ul {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .Li {
    margin: 6px;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .Li {
      margin: 10px 0;
    }
  }
  
  .A {
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .A {
      color: #000;
      font-size: 24px;
    }
  }
  
  .MenuButton {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    color: #000000;
  }
  
  @media (min-width: 769px) {
    .MenuButton {
      display: none;
    }
  }
  
  .Dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: center;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .Li:hover .Dropdown {
    display: block;
  }
  
  .MenuItem {
    padding: 10px;
  }
  
  .Titulo {
    color: #000000;
    font-family: fantasy;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
  }
  
  @media (max-width: 768px) {
    .Titulo {
      font-size: 110%;
      top: 0;
      right: 25%;
      left: 25%;
      transform: none;
    }
  }
  