.liturgia-container {
    padding: 20px;
    text-align: center; /* Centralizando todo o conteúdo dentro do liturgia-container */
    max-width: 600px; /* Definindo uma largura máxima para o elemento */
    margin: 0 auto; /* Centralizando o elemento na página */
}

.element-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.element-buttons button {
    margin: 5px;
    background-color: yellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.element-content {
    text-align: justify;
    margin-top: 20px;
}

.element-content p {
    margin-bottom: 20px;
}
.font {
    display: none;
}

@media screen and (max-width: 768px) {
    .element-buttons {
        align-items: center;
    }
}
